.carousel{width: 100%;}
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
.navbar-brand {padding: 5%;}
.navbar-header {margin-right: 10%;}
.navbar-nav {margin-left: 5%}
.navbar-inverse {margin-bottom: 0%;}
.logo{width: 50%; margin-left: 2%;}
.store{text-align: center; margin: 3%;}

.cuerpo{
    width: 100%;
    margin: 0px;
}
footer{
    background-color: #666;
	color: white;
    padding: 1%;
	margin-top: 1%;
}
.logo{
	width: 26%;
	margin-left: 2%;
	}
.git{
	width: 40%;
	margin-left: 10%;
	display: inline-block;
}
.carousel-indicators{
	color: black;
}
.tecnologias{
	margin-top: 2%;
	margin-left: 2%;
	background-color: #f2f2f2;
}
.col-md-4>figure>img{
	width: 72%;
	margin-left: 10%;
}
.wip{
	width: 50%;
	margin-left: 25%;
}
figcaption{text-align: center;}
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: black; /* Add a dark-grey background on hover */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#myBtn:hover {
	background-color: red; /* Set a background color */
}